<mat-toolbar color="primary" fxLayout="row">
  <div fxFlex="grow">{{title}}</div>
 <!--- <div class="exPad"><button mat-raised-button class="exPad" [routerLink]="['/upload']">Image Upload</button></div>--->
  <div class="exPad"><button mat-raised-button class="exPad" [routerLink]="['/searchID']">Search by ID</button></div>
  <div class="exPad"><button mat-raised-button class="exPad" [routerLink]="['/']">Search by Detail</button></div>
</mat-toolbar>
<router-outlet></router-outlet>
<!---<app-search-library></app-search-library>---->

