<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div fxLayout="column" class="exPad">
        <div class="exPad" fxLayout="column">
          <label for="file_upload">File Upload</label>
          <input type="file" [formControl]="file_upload" (change)="onFileChange($event)" #fileInput>
        </div>
      <div class="exPad" fxLayout="row">
        <div class="exPad">
          <button mat-raised-button color="primary" class="exPad" type="submit">Upload</button>
        </div>
        <div class="exPad">
          <button mat-raised-button color="primary" class="exPad" (click)="clearFile()">Clear File</button>
        </div>
      </div>
      </div>
  </form>
</div>